header {
    border: 5px solid;
    width: 97%;
    height: 27vh;
    margin: 13px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.purple-box {
    background-color: rgba(136, 54, 230, 0.99);
    height: 64%;
    width: 6%;
    margin-left: 8px;
    margin-bottom: 10px;
}

.green-box {
    background-color: green;
    margin: 10px 10px 10px 40px;
    height:90%;
    width: 40%;
    
}

.blue-circle {
    background-color: skyblue; 
    margin: 10px 10px 10px 30px;
    height: 90%;
    width:24%;
    border-radius: 500px;
}
main {
    width: 97%;
    height: 69vh;
    
    margin-left: 13px;
    
}

.one {
    border: 5px dotted;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 29vh;
    
    
}

.yellow-box {
    background-color: lightgoldenrodyellow;
    width: 90%;
    height: 65%;
    margin: 40px;
    -webkit-box-shadow: 8px 8px 6px 0px rgba(54,52,54,1);
    -moz-box-shadow: 8px 8px 6px 0px rgba(54,52,54,1);
    box-shadow: 8px 8px 6px 0px rgba(54,52,54,1);
}

.two {
    
    margin: 15px 0px 0px 0px;
    height: 36vh;
}

p {
    border: 1px solid lightgray;
    height: 85%;
    width: 56%;
    margin: 25px 175px;
    padding-top: 115px;
    font-weight: bold;
    letter-spacing: 6px;
    font-size: 30px;
    color: rgb(68, 37, 153);
    text-align: center;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(158,158,158,1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(158,158,158,1);
    box-shadow: 4px 4px 6px 0px rgba(158,158,158,1);
}