body {
    background-color: lightgrey;
}

header {
    height: 175px;
    background-color: rgb(76, 78, 78);
}

main {
    width: 100vw;
}
div {
    background-color: white;
    width: 70vw;
    height: 675px;
    float: center;
    margin-left: 15%;
    
}

footer {
    width: 100%;
    height: 90px;
}

.foot {
    background-color: black;
    height: 90px;
    margin-bottom: 0px;
    
}